In [1]:
import json
import pandas as pd

In [2]:
!git clone https://github.com/statsbomb/open-data.git

Cloning into 'open-data'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (14/14), done.
remote: Total 13128 (delta 5), reused 11 (delta 1), pack-reused 13113
Receiving objects: 100% (13128/13128), 1.27 GiB | 30.66 MiB/s, done.
Resolving deltas: 100% (11690/11690), done.
Checking out files: 100% (1828/1828), done.

In [25]:
# Loading Competitions
comp = pd.read_json(r'open-data/data/competitions.json')
comp.head()

   competition_id  ...             match_available
0              16  ...  2020-10-25T12:33:27.855343
1              16  ...            2020-07-29T05:00
2              16  ...            2020-07-29T05:00
3              16  ...            2020-07-29T05:00
4              16  ...            2020-07-29T05:00

[5 rows x 8 columns]

In [4]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   competition_id      37 non-null     int64
 1   season_id           37 non-null     int64
 2   country_name        37 non-null     object
 3   competition_name    37 non-null     object
 4   competition_gender  37 non-null     object
 5   season_name         37 non-null     object
 6   match_updated       37 non-null     object
 7   match_available     37 non-null     object
dtypes: int64(2), object(6)
memory usage: 2.4+ KB

In [5]:
# Selecting competition ID and season ID (Here it is Premier League and 02/03)
competition_id = 2
season_id = 44

In [7]:
print('open-data/data/'+str(competition_id)+'/'+str(season_id)+'.json')

open-data/data/2/44.json

In [13]:
# Loading all the matches in the selected season and league
matches = pd.read_json(r'open-data/data/matches/2/44.json')
matches.head()

   match_id  ...                       referee
0   3749257  ...  {'id': 1279, 'name': 'None'}
1   3749246  ...  {'id': 1279, 'name': 'None'}
2   3749153  ...  {'id': 1279, 'name': 'None'}
3   3749642  ...  {'id': 1279, 'name': 'None'}
4   3749358  ...  {'id': 1279, 'name': 'None'}

[5 rows x 15 columns]

In [26]:
# Selecting only the relevant columns and making the data usable by cleaning the data
matches['competition'] = matches['competition'].apply(lambda x : x['competition_name'])
matches['home_team'] = matches['home_team'].apply(lambda x : x['home_team_name'])
matches['away_team'] = matches['away_team'].apply(lambda x : x['away_team_name'])
matches['season'] = matches['season'].apply(lambda x : x['season_name'])
matches.head()

   match_id  match_date  ... home_team_name     away_team_name
0   3749257  2004-05-15  ...        Arsenal     Leicester City
1   3749246  2004-03-28  ...        Arsenal  Manchester United
2   3749153  2004-01-10  ...        Arsenal      Middlesbrough
3   3749642  2004-02-28  ...        Arsenal  Charlton Athletic
4   3749358  2003-08-24  ...  Middlesbrough            Arsenal

[5 rows x 17 columns]

In [28]:
# Dropping unwanted columns
matches = matches.drop(columns=['metadata','competition_stage','referee','home_team_name','away_team_name'])
matches.head()

   match_id  match_date  ...                last_updated match_week
0   3749257  2004-05-15  ...  2020-08-30T08:12:14.579037         38
1   3749246  2004-03-28  ...            2020-07-29T05:00         30
2   3749153  2004-01-10  ...  2020-08-30T08:12:14.579037         21
3   3749642  2004-02-28  ...            2020-07-29T05:00         27
4   3749358  2003-08-24  ...            2020-07-29T05:00          2

[5 rows x 12 columns]

In [32]:
for index,row in matches.iterrows():
  print("The match between "+row['home_team']+" and "+row['away_team']+" finished "+str(row['home_score'])+" - "+str(row['away_score'])+" in Gameweek "+str(row['match_week'])+".")

The match between Arsenal and Leicester City finished 2 - 1 in Gameweek 38.
The match between Arsenal and Manchester United finished 1 - 1 in Gameweek 30.
The match between Arsenal and Middlesbrough finished 4 - 1 in Gameweek 21.
The match between Arsenal and Charlton Athletic finished 2 - 1 in Gameweek 27.
The match between Middlesbrough and Arsenal finished 0 - 4 in Gameweek 2.
The match between Leeds United and Arsenal finished 1 - 4 in Gameweek 11.
The match between Liverpool and Arsenal finished 1 - 2 in Gameweek 8.
The match between Arsenal and Chelsea finished 2 - 1 in Gameweek 9.
The match between Blackburn Rovers and Arsenal finished 0 - 2 in Gameweek 28.
The match between Aston Villa and Arsenal finished 0 - 2 in Gameweek 22.
The match between Arsenal and Newcastle United finished 3 - 2 in Gameweek 7.
The match between Arsenal and Manchester City finished 2 - 1 in Gameweek 23.
The match between Arsenal and Birmingham City finished 0 - 0 in Gameweek 35.
The match between Manchester United and Arsenal finished 0 - 0 in Gameweek 6.
The match between Arsenal and Portsmouth finished 1 - 1 in Gameweek 5.
The match between Manchester City and Arsenal finished 1 - 2 in Gameweek 4.
The match between Chelsea and Arsenal finished 1 - 2 in Gameweek 26.
The match between Tottenham Hotspur and Arsenal finished 2 - 2 in Gameweek 35.
The match between Southampton and Arsenal finished 0 - 1 in Gameweek 1.
The match between Arsenal and Everton finished 2 - 1 in Gameweek 1.
The match between Birmingham City and Arsenal finished 0 - 3 in Gameweek 13.
The match between Arsenal and Fulham finished 0 - 0 in Gameweek 14.
The match between Arsenal and Tottenham Hotspur finished 2 - 1 in Gameweek 12.
The match between Arsenal and Wolverhampton Wanderers finished 3 - 0 in Gameweek 18.
The match between Arsenal and Liverpool finished 4 - 2 in Gameweek 31.
The match between Arsenal and Bolton Wanderers finished 2 - 1 in Gameweek 29.
The match between Arsenal and Blackburn Rovers finished 1 - 0 in Gameweek 16.
The match between Arsenal and Leeds United finished 5 - 0 in Gameweek 33.
The match between Bolton Wanderers and Arsenal finished 1 - 1 in Gameweek 1.
The match between Charlton Athletic and Arsenal finished 1 - 1 in Gameweek 10.
The match between Wolverhampton Wanderers and Arsenal finished 1 - 3 in Gameweek 24.
The match between Fulham and Arsenal finished 0 - 1 in Gameweek 37.
The match between Newcastle United and Arsenal finished 0 - 0 in Gameweek 32.

In [37]:
# Getting Match ID to get the events data for the match
home_team = 'Arsenal'
away_team = 'Liverpool'

for index, team in matches.iterrows():
  if (team['home_team'] == home_team and team['away_team'] == away_team):
    print("Match ID for game between "+home_team+" and "+away_team+" is "+str(team['match_id']))
    match_id = team['match_id']

Match ID for game between Arsenal and Liverpool is 3749448

In [46]:
with open ('open-data/data/events/'+str(match_id)+'.json') as datafile:
  data = json.load(datafile)

In [45]:
events_df = pd.json_normalize(data, sep='_')
events_df.head()

                                     id  index  ...  block_offensive shot_redirect
0  ffdbffbf-aad2-4694-a079-8ab4e0f20769      1  ...              NaN           NaN
1  8ab2e7df-7642-4f9b-ad8e-4da95dfe7fa2      2  ...              NaN           NaN
2  c77df932-7a63-4d12-99de-542ee0115a37      3  ...              NaN           NaN
3  158f68e3-189a-498f-93b9-412a30ec4287      4  ...              NaN           NaN
4  255af120-7cad-463c-9d2f-884784fca4c6      5  ...              NaN           NaN

[5 rows x 115 columns]

In [50]:
passes = events_df[events_df['type_name']=='Pass']
passes.reset_index(inplace=True)
passes.head()

   level_0                                    id  ...  block_offensive  shot_redirect
0        4  255af120-7cad-463c-9d2f-884784fca4c6  ...              NaN            NaN
1        7  267f5c32-b8af-49e5-9c04-9307f24c9c3c  ...              NaN            NaN
2       10  34373762-8408-4e56-bef9-f782e0e797d4  ...              NaN            NaN
3       13  07c754e8-840c-4711-98f3-15c50c070e9c  ...              NaN            NaN
4       14  e2cfdb94-3598-4860-8f77-6e1c922c6769  ...              NaN            NaN

[5 rows x 116 columns]